.benefitsList {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  margin: 0 auto 2rem auto;
  box-sizing: border-box;

  & li {
    display: flex;

    align-items: center;
    gap: 0.2rem;
    padding: 1rem 1.5rem;
    width: 100%;
    box-sizing: border-box;
    &:nth-child(1),
    &:nth-child(3) {
      background: linear-gradient(
        to right,

        #ffffff1c 30%,
        #2d1a47 100%
      );
    }

    & span {
      display: inline-block;
      text-align: center;
      min-width: 1.6rem;
      min-height: 1.6rem;
      width: 1.6rem;
      height: 1.6rem;
      background: linear-gradient(120deg, var(--color-accent) 30%, var(--color-surface) 100%);
      border-radius: 50%;
      margin-right: 0.5rem;
      position: relative;
      &::after {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        content: "✓";
        font-weight: bold;
        font-size: 1.5rem;
        width: 2rem;
        height: 2rem;
        text-align: center;
      }
    }
  }
}

@media (min-width: 900px) {
  .benefitsList {
    max-width: 350px;
  }
}
